<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statement Of Account</title>
</head>
<body>
<br/><br/>
<a href="http://localhost:9999">Home</a>
<br/><br/>
<p><h2><b>Statement Of Accounts - SAMA</b></h2></p>
<table border="2">
<tr>
    <th>Account Number</th>
    <th>Account Name</th>
    <th> Transaction Date</th>
    <th>Transaction Amount</th>
</tr>
<tr>

    <td>666123458</td>
    <td>Jitender</td>
    <td>30/10/1990</td>
    <td>2000000</td>


</tr>
    <tr>

        <td>666123458</td>
        <td>Jitender</td>
        <td>30/10/1990</td>
        <td>2000000</td>

    </tr>


</table>

</body>
</html>